@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:  #181719;
    min-height: 100vh;
}

.container{
    max-width: 1900px;
    margin: 0;
    padding: 0 3%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav .menu-icon{
    cursor: pointer;
    display: none;
}

.logo a{
    font-family: 'Crimson Pro', sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 8px;
    border: 1px solid white;
    text-align: center;
    color: white;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
}

ul li a{
    text-decoration: none;
    padding: 0 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18;
}

.home li a{
    border-bottom: 2px solid white;
    font-weight: 700;
    padding: 0 0 1px 0;
    margin: 0px 8px 0 0;
}

.page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.text h1{
    font-family: 'Lora', sans-serif;
    font-size: 48px;
    color: white;
    font-weight: 500;
}

.text p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.text a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

img{
    max-width: 820px;
    max-height: 590px;
}